In [1]:
# import libraries
import pandas as pd
import numpy as np

# Import the LinearRegression class from scikit-learn
from sklearn.linear_model import LinearRegression


# Scikit-learn (machine learning)
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline


# Import libraries and modules for data visualization
from pandas.plotting import scatter_matrix
from matplotlib import pyplot as plt

# Import scit-Learn module for the algorithm/model: Linear Regression
from sklearn.model_selection import train_test_split

# Import scit-Learn module for K-fold cross-validation - algorithm/model evaluation & validation
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [2]:
# The raw file has no header row, so we add column names manually
col_names = [
    "Age", "Emp_type", "Fnlwgt", "Education",
    "Education_num", "Martial", "Occupation",
    "Relationship", "Race", "Sex", "Capital_gain", "Capital_loss", "weekly_hours", "Country", "Income"
]

In [3]:
df = pd.read_csv('C:/Users/DKell/Downloads/adult_salary.csv', header=None, names=col_names)

In [4]:
# Quick look at the data
print(df.head())
print(df.info())
print(df.isnull().sum())

   Age           Emp_type  Fnlwgt   Education  Education_num  \
0  Age           Emp_type  Fnlwgt   Education  Education_num
1   39          State-gov   77516   Bachelors             13
2   50   Self-emp-not-inc   83311   Bachelors             13
3   38            Private  215646     HS-grad              9
4   53            Private  234721        11th              7

               Martial          Occupation    Relationship    Race    Sex  \
0              Marital          Occupation    Relationship    Race    Sex
1        Never-married        Adm-clerical   Not-in-family   White   Male
2   Married-civ-spouse     Exec-managerial         Husband   White   Male
3             Divorced   Handlers-cleaners   Not-in-family   White   Male
4   Married-civ-spouse   Handlers-cleaners         Husband   Black   Male

   Capital_gain  Capital_loss  weekly_hours         Country  Income
0  Capital_gain  Capital_loss  weekly_hours         Country  Income
1          2174             0            40   United-States   <=50K
2             0             0            13   United-States   <=50K
3             0             0            40   United-States   <=50K
4             0             0            40   United-States   <=50K
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48843 entries, 0 to 48842
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            48843 non-null  object
 1   Emp_type       48843 non-null  object
 2   Fnlwgt         48843 non-null  object
 3   Education      48843 non-null  object
 4   Education_num  48843 non-null  object
 5   Martial        48843 non-null  object
 6   Occupation     48843 non-null  object
 7   Relationship   48843 non-null  object
 8   Race           48843 non-null  object
 9   Sex            48843 non-null  object
 10  Capital_gain   48843 non-null  object
 11  Capital_loss   48843 non-null  object
 12  weekly_hours   48843 non-null  object
 13  Country        48843 non-null  object
 14  Income         48843 non-null  object
dtypes: object(15)
memory usage: 5.6+ MB
None
Age              0
Emp_type         0
Fnlwgt           0
Education        0
Education_num    0
Martial          0
Occupation       0
Relationship     0
Race             0
Sex              0
Capital_gain     0
Capital_loss     0
weekly_hours     0
Country          0
Income           0
dtype: int64

In [21]:
#Check for abnormalmalities

print(df.describe())

# Replace '?' with proper missing values
df = df.replace('?', np.nan)

                Age        Fnlwgt  Education_num  Capital_gain  weekly_hours  \
count  48842.000000  4.884200e+04   48842.000000  48842.000000  48842.000000
mean      38.643585  1.896641e+05      10.078089   1079.067626     40.422382
std       13.710510  1.056040e+05       2.570973   7452.019058     12.391444
min       17.000000  1.228500e+04       1.000000      0.000000      1.000000
25%       28.000000  1.175505e+05       9.000000      0.000000     40.000000
50%       37.000000  1.781445e+05      10.000000      0.000000     40.000000
75%       48.000000  2.376420e+05      12.000000      0.000000     45.000000
max       90.000000  1.490400e+06      16.000000  99999.000000     99.000000

       Income
count     0.0
mean      NaN
std       NaN
min       NaN
25%       NaN
50%       NaN
75%       NaN
max       NaN

In [23]:
# Check for zero or negative values in numeric columns
numeric_cols = ["Age","Education_num","Capital_gain", "Capital_loss",
                "weekly_hours","Income"]

for col in numeric_cols:
    # Convert column to numeric type first, with errors='coerce' to handle non-numeric values
    df[col] = pd.to_numeric(df[col], errors='coerce')
    print(col, (df[col] <= 0).sum(), "values <= 0")

Age 0 values <= 0
Education_num 0 values <= 0
Capital_gain 0 values <= 0
Capital_loss 0 values <= 0
weekly_hours 0 values <= 0
Income 0 values <= 0

In [27]:
# First, check the actual column names in the dataframe
print("Available columns:", df.columns.tolist())

# 2. Remove Fnlwgt if it exists (with correct spelling/capitalization)
# Look for similar column names like 'fnlwgt' (lowercase) or other variations
if 'fnlwgt' in df.columns:
    df = df.drop(columns=['fnlwgt'])
elif 'Fnlwgt' in df.columns:
    df = df.drop(columns=['Fnlwgt'])
# If you're sure the column should exist, you might need to check for typos
# or ensure the data was loaded correctly

# Drop rows where Income (the target) is missing, if any
df = df.dropna(subset=['Income'])

# Separate predictors (X) and target (y)
X = df.drop(columns=['Income'])
y = df['Income']

print("Shape of X:", X.shape)
print("Shape of y:", y.shape)
print("Income unique labels:", y.unique())

Available columns: ['Age', 'Emp_type', 'Education', 'Education_num', 'Martial', 'Occupation', 'Relationship', 'Race', 'Sex', 'Capital_gain', 'Capital_loss', 'weekly_hours', 'Country', 'Income']
Shape of X: (0, 13)
Shape of y: (0,)
Income unique labels: []

In [28]:
# Save cleaned dataset for submission
df_clean.to_csv("adult_salary.csv", index=False)

In [34]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

# Create some sample data - this is what was missing in your code
# Replace this with your actual data loading code
n_samples = 4035
np.random.seed(42)

# Create a sample dataframe with the features you defined
data = {
    'age': np.random.normal(40, 10, n_samples),
    'income': np.random.normal(50000, 15000, n_samples),
    'years_experience': np.random.normal(10, 5, n_samples),
    'gender': np.random.choice(['M', 'F'], n_samples),
    'education': np.random.choice(['HS', 'BS', 'MS', 'PhD'], n_samples),
    'occupation': np.random.choice(['Engineer', 'Doctor', 'Teacher', 'Other'], n_samples)
}
df = pd.DataFrame(data)

# Create a target variable - this was missing in your code
# Replace with your actual target variable
y = np.random.randint(0, 2, n_samples)  # Binary classification target
X = df  # Your feature dataframe

# Define your feature lists
numeric_features = ['age', 'income', 'years_experience']
categorical_features = ['gender', 'education', 'occupation']

# Numeric preprocessing: impute missing with median
numeric_transformer = SimpleImputer(strategy='median')

# Categorical preprocessing: impute most frequent, then one-hot encode
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Combine them
preprocess = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ]
)

# Choose model: Logistic Regression for classification
log_reg = LogisticRegression(max_iter=1000)

# Full pipeline: preprocessing + model
clf = Pipeline(steps=[
    ('preprocess', preprocess),
    ('model', log_reg)
])

# Train-test split (e.g. 70/30)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=7, stratify=y
)

print("Train shape:", X_train.shape, y_train.shape)
print("Test shape:", X_test.shape, y_test.shape)

Train shape: (2824, 6) (2824,)
Test shape: (1211, 6) (1211,)

In [35]:
print("Y_train shape:", Y_train.shape)
print("Y_train head:")
print(Y_train.head())

print("\nNaNs in Y_train:")
print(Y_train.isna().sum())  # if Series
# If Y_train is a DataFrame, uncomment this:
# print(Y_train.isna().sum(axis=0))

print("\nNumber of non-NaN labels in Y_train:",
      Y_train.shape[0] - Y_train.isna().sum())

Y_train shape: (2703,)
Y_train head:
31514   NaN
44052   NaN
37042   NaN
27384   NaN
10286   NaN
Name: Income, dtype: float64

NaNs in Y_train:
2703

Number of non-NaN labels in Y_train: 0

In [36]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression  # Added import for the model

# Create a model instance (was missing in original code)
model = LinearRegression()

# Before fitting:
# Check if Y_train exists and has values
if 'Y_train' not in locals() or Y_train.empty:
    print("Y_train is not defined or empty")
else:
    # Create mask for non-NaN values
    mask = ~pd.isna(Y_train)
    
    # Check if we have any valid data after masking
    if mask.sum() > 0:
        X_train_clean = X_train_numeric.loc[mask]
        Y_train_clean = Y_train.loc[mask]
        
        # Verify we have data before fitting
        if len(X_train_clean) > 0 and len(Y_train_clean) > 0:
            model.fit(X_train_clean, Y_train_clean)
            
            print(model.intercept_)
            print(model.coef_)
        else:
            print("No valid data after filtering")
    else:
        print("All values in Y_train are NaN")

All values in Y_train are NaN

In [37]:
# 5. Train the model on the training set
clf.fit(X_train, y_train)

# Check simple accuracy on test set
from sklearn.metrics import accuracy_score

y_pred = clf.predict(X_test)
test_acc = accuracy_score(y_test, y_pred)
print("Test accuracy:", test_acc)

Test accuracy: 0.49463253509496286

In [45]:
# Quick check: which columns does this clf expect now?
print("Columns used by clf:")
print(clf.named_steps['preprocess'].feature_names_in_)

Columns used by clf:
['age' 'income' 'years_experience' 'gender' 'education' 'occupation']

In [44]:
 new_records = pd.DataFrame([
    {
        "Age": 35,
        "Emp_type": "Private",
        "Education": "Bachelors",
        "Education_num": 13,
        "Marital": "Married-civ-spouse",
        "Occupation": "Prof-specialty",
        "Relationship": "Husband",
        "Race": "White",
        "Sex": "Male",
        "Capital_gain": 0,
        "Capital_loss": 0,
        "weekly_hours": 40,
        "Country": "United-States"
    },
    {
        "Age": 28,
        "Emp_type": "Private",
        "Education": "HS-grad",
        "Education_num": 9,
        "Marital": "Never-married",
        "Occupation": "Sales",
        "Relationship": "Not-in-family",
        "Race": "Black",
        "Sex": "Female",
        "Capital_gain": 0,
        "Capital_loss": 0,
        "weekly_hours": 30,
        "Country": "United-States"
    }
])

new_pred = clf.predict(new_records)
new_proba = clf.predict_proba(new_records)

for i, (label, probs) in enumerate(zip(new_pred, new_proba), start=1):
    print(f"Record {i}: predicted Income = {label}, Probabilities = {probs}")

ValueError: columns are missing: {'education', 'years_experience', 'occupation', 'gender', 'income', 'age'}